**Exercise 1: Find the Misspelled Variable**

In [9]:
def calculate_total_price(price, quantity):
    """Calculate total price including tax"""
    total = price * quantity
    tax_rate = 0.08
    total_with_tax = total + (total * tax_rate)
    return total_with_tax

In [10]:
result = calculate_total_price(10, 5)
print(f"Total price: {result:.2f}")

Total price: 54.00

**Exercise 2: Function Name Typo**

In [5]:
def calculate_average(numbers):
    """Calculate the average of a list of numbers"""
    return sum(numbers) / len(numbers)

scores = [85, 90, 78, 92, 88]
avg = calculate_average(scores)
print(f"Average score: {avg}")

Average score: 86.6

**Exercise 3: Index Error**

In [11]:
def get_first_and_last(items):
    """Return the first and last items from a list"""
    first = items[0]
    last = items[3]
    return first, last

colors = ["red", "blue", "green", "yellow"]
first_color, last_color = get_first_and_last(colors)
print(f"First: {first_color}, Last: {last_color}")

First: red, Last: yellow

**Exercise 4: Missing Function Argument**

In [9]:
def create_greeting(name, age, city):
    """Create a personalized greeting"""
    return f"Hello {name}! You are {age} years old and live in {city}."


message = create_greeting("Alice", "25", "Japan")
print(message)

Hello Alice! You are 25 years old and live in Japan.

**Exercise 5: Too Many Arguments**

In [8]:
def multiply(a, b):
    """Multiply two numbers"""
    return a * b


result = multiply(3, 4)
print(f"Result: {result}")

Result: 12

**Exercise 6: Indentation Problem**

In [7]:
def check_temperature(temp):
    """Check if temperature is comfortable"""
    if temp < 60:
        return "Too cold!"
    elif temp > 80:
        return "Too hot!"
    else:
        return "Just right!"


weather = check_temperature(70)
print(weather)

Just right!

**Exercise 7: Type Error**

In [4]:
def repeat_message(message, times):
    """Repeat a message n times"""
    return message * times


output = repeat_message("Hello", 3)
print(output)

HelloHelloHello

**Exercise 8: Division by Zero**

In [5]:
def calculate_batting_average(hits, at_bats):
    """Calculate batting average in baseball"""
    average = hits / at_bats
    return round(average, 3)

avg = calculate_batting_average(1, 3)
print(f"Batting average: {avg}")

Batting average: 0.333

**Exercise 9: Dictionary Key Error**

In [6]:
def get_student_grade(student_data, student_name):
    """Get a student's grade from the data"""
    return student_data[student_name]  # BUG HERE - key might not exist

students = {
    "Alice": "A",
    "Bob": "B",
    "Charlie": "C"
}


grade = get_student_grade(students, "Bob")
print(f"Grade: {grade}")

Grade: B

**Exercise 10: Logic Error**

In [3]:
def is_even(number):
    """Check if a number is even"""
    return number % 2 == 0


print(f"Is 4 even? {is_even(4)}")
print(f"Is 7 even? {is_even(7)}")

Is 4 even? True
Is 7 even? False

**Exercise 11: Infinite Loop**

In [31]:
def countdown(n):
    """Count down from n to 1"""
    while n > 0:
        print(n)
        n -= 1


countdown(5)

5
4
3
2
1

**String vs Integer Comparison**

In [1]:
def process_age(age):
    """Process user's age"""
    if age > 18:
        return "Adult"
    else:
        return "Minor"

user_age = int(input("Enter your age: "))
status = process_age(user_age)
print(f"Status: {status}")

Status: Adult

**Practice: Fix both the syntax and logical errors in this program:**


Test Case 1: [10.00, 25.50, 5.75] with 8% tax → Expected: $44.55

Test Case 2: [100.00] with 5% tax → Expected: $105.00

Test Case 3: [15.99, 22.50, 8.99, 45.00] with 10% tax → Expected: $101.73

In [ ]:
# Calculate the total cost of items with tax
def calculate_total(prices, tax_rate):
    subtotal = 0

    for price in prices:
        subtotal = subtotal + price

    tax = subtotal * tax_rate / 100
    total = subtotal - tax

    return total

# Test the function
items = [10.00, 25.50, 5.75]
total = calculate_total(items, 8)
print(f"Total cost: ${total}")

Total cost: $37.95

In [24]:
def  calculate_totals(sales_list, expenses_list):
    total = 0
    expense_total = 0
    for sale in sales_list:
        total += sale
    print(f"Sales total: {total}")
    
    for expense in expenses_list:
        expense_total += expense
    print(f"Expenses total: {expense_total}")

In [25]:
sales = [400, 300, 1000, 500]
expenses = [20, 30, 50, 20]
print(calculate_totals(sales, expenses))

#expected output
#Sales Total = 2200
#Expenses Total = 120

Sales total: 2200
Expenses total: 120
None